# Flask
instance/
*.pyc
__pycache__/

# Environment
.env
venv/
.env.local
.env.*.local

# Editor
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/SalesManagerSystem.iml
.idea/vcs.xml
/app/static/comics
